<div>
Hello, {{username}}!

    <form name='f' action="/perform_logout" method='POST'>
        <input name="submit" type="submit" value="Log out" />
    </form>

    <form name='f' action="/practice" method='GET'>
    <input name="submit" type="submit" value="Practice" />
</form>

    <form name='f' action="/settings" method='GET'>
        <input name="submit" type="submit" value="Settings" />
    </form>

</div>
