<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/Javascript/newuser.js"> </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-app="Login" ng-controller="myCtrl">

    <form ng-submit="newUser()">
        <table>
            <tr>
                <td>Choose a username:</td>
                <td><input type="text" ng-model="username" placeholder="username" required minlength="5" ></td>
            </tr>
            <tr>
                <td>Create a password:</td>
                <td><input type="text" ng-model="createPassword" placeholder="password" required></td>
            </tr>
            <tr>
                <td>Re-Enter your password:</td>
                <td><input type="text" ng-model="confirmPassword" placeholder="repeat password" required></td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
        </table>
    </form>





    <form name='f' action="/login.html" method='GET'>
        <input name="submit" type="submit" value="BACK" />
    </form>
</div>
</body>
</html>